
.album-show {
}

.album-name-description {
  // text-align: right;
  // float: left;

}

.album-artist-release_date {
  text-align: left;
}

.album-name {
  font-size: 28px;
  font-weight: bold;
  border: 3px solid black;
  width: inherit;
  text-align: center;
  padding: 4px;
  margin: 20px;
  margin-bottom: 40px;
}

.album-description {
  margin: 20px;
}

.album-name {
  text-align: center;
}

.artist {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

.release_date {

}
