.field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.field{
    width: 100%;
    background-color: rgba(1, 186, 239, 0.8);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transform: translateY(4px);
}

.field:hover {
    background-color: #01BAEF;
}
.floatL {
  text-align: left;
}
.test {
  background-color: #F6F7EB;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 40px;
  padding-top: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.testALL {
  background-color: #2B3A67;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 40px;
  padding-top: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#test2 {
  background-color: #85CB33;
  width: 50%;

  margin-left: 25%;
  margin-right: 25%;
  // padding-bottom: 40px;
  // padding-top: 30px;
  padding: inherit;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
// background: linear-gradient(31deg, rgba(219,84,97, 0.5), rgba(17,101,182, 0.5));
// background-size: 200% 200%;
//
// -webkit-animation: AnimationName 8s ease infinite;
// -moz-animation: AnimationName 8s ease infinite;
// animation: AnimationName 8s ease infinite;
// }
// @-webkit-keyframes AnimationName {
//     0%{background-position:20% 0%}
//     50%{background-position:81% 100%}
//     100%{background-position:20% 0%}
// }
// @-moz-keyframes AnimationName {
//     0%{background-position:20% 0%}
//     50%{background-position:81% 100%}
//     100%{background-position:20% 0%}
// }
// @keyframes AnimationName {
//     0%{background-position:20% 0%}
//     50%{background-position:81% 100%}
//     100%{background-position:20% 0%}
// }
