.container{
  text-align: center;
  align-items: center;
}



.button2 {
  font-weight: bold;
  background-color: #8D3B72;
  // background-color: rgba(141, 59, 114, 0.6);
  border: none;
  color: #2F2D2E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  box-shadow: 0 9px #999;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 250px;
  height: 100px;
}

.button2:hover {
  background-color: #01BAEF;
  color: #2F2D2E;

}
.button2:active {
  background-color: #85CB33;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.text{
  font-weight: bold;
  font-size: 16px;
}
.columnss{
  margin: auto;
}

// #ap{
//   float: left;
// }

.albumtilebutton {
  font-weight: bold;
  background-color: #8D3B72;
  // background-color: rgba(141, 59, 114, 0.6);
  border: none;
  color: #2F2D2E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10;
  box-shadow: 0 9px #999;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 75%;
  height: 75%;
  margin: 4px;
}

.albumtilebutton:hover {
  background-color: #01BAEF;
  color: #2F2D2E;

}
.albumtilebutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.genresbackround{
  background-color: #2F2D2E;
  margin: auto;
}
