.top-bar{
  background-color: #01BAEF;
  // background: rgba(255,0,240, .5);
  padding-bottom: 10px;
  color: #DB5461;
  font-weight: bold;
  margin-bottom: 30px;
}
.name{
  color: #DB5461;
  font-weight: bold;
}
.background-color {
  background: linear-gradient(316deg, #2b3a67, #f71735);
background-size: 200% 200%;

-webkit-animation: AnimationName 18s ease infinite;
-moz-animation: AnimationName 18s ease infinite;
animation: AnimationName 18s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

// .button {
//   font-weight: bold;
//    background-color: #DB5461;
//    border: none;
//    color: #2F2D2E;
//    padding: 15px 32px;
//    text-align: center;
//    text-decoration: none;
//    display: inline-block;
//    font-size: 16px;
//    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
//    -webkit-transition-duration: 0.4s; /* Safari */
//    transition-duration: 0.4s;
// }
//
// .button:hover {
//    background-color: #01BAEF; /* Green */
//    color: #2F2D2E;
//
// }
.titleb {
  font-style: bold;
  font-weight: bold;
  background-color: #01BAEF;
  // background: rgba(255,0,240, .5);
  border: none;
  color: #2F2D2E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.titleb:hover {
  background-color: #DB5461; /* Green */
  color: #2F2D2E;

  }

.wrapperform {
  column-count:2;
  -moz-column-count:2;
  -webkit-column-count:2;
}
